# deps
node_modules
.pnp
.pnp.js

# next
.next
out
next-env.d.ts

# production
build
dist

# env
.env
.env.local
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# editors
.vscode
.idea
.DS_Store

# prisma
prisma/*.db
prisma/*.db-journal

# docker volumes (if mounted locally)
pgdata/
